
/*
keys are divs inside a wrapper div. they have a 'key' class and their note (ie: 'a', 'b'), and a nested black key with its note (ie: 'amin' 'bmin'): example:
<div class="key-board clearfix">
  <div class="key c">
    <div class="black-key black-c"></div>
    <div class="rectangle"></div>
  </div>
</div>
*/

body {
  font-family: 'Lato', sans-serif;
  background-color: green;
}

body.gameofcat {
  color: black;
  background: url("/img/gameofcat.jpg");
}

.gameofcat #opaque-square {
  background-color: white;
  opacity: 0.6;
  margin-left: 25%;
  margin-right: 25%;
}
body.trump {
  color: black;
  background: url("/img/trump.jpg");
}

.trump #opaque-square {
  background-color: white;
  opacity: 0.6;
  margin-left: 25%;
  margin-right: 25%;
}

.cat #opaque-square {
  background-color: white;
  opacity: 0.6;
  margin-left: 25%;
  margin-right: 25%;
}

body.cat {
  color: black;
  background: url('/img/cat-pattern.png');
}

body.normal {
  background: none;
  background: green;
  background-color: green;
}

h1 {
  font-weight: bolder;
  font-size: 5vw;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0px;
}

h2 {
  text-align: center;
  margin-top: none;
  padding-top: none;
}

.rectangle p {
  padding-top: 150px;
  padding-bottom: 25px;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.key-board {
  width: 450px;
  margin: 40px auto;
}

.key {
  width: 40px;
  float: left;
  margin: 10px;
  position: relative;
}

.black-key {
  width: 35px;
  height: 125px;
  background: black;
  border-radius: 5px;
  position: absolute;
  left: 47px;

  /*-webkit-transition: all 0s ease-in 1.0s;
  -moz-transition: all 0s ease-in-out 1.0s;
  -o-transition: all 0s ease-in-out 1.0s;
  transition: all 0s ease-in-out 1.0s;*/
}
.black-key p {
  color: white;
  padding-top: 70px;
  padding-left: 12px;
  padding-bottom: 17px;
}

.black-key.active {
  background: rgb(51, 56, 54);
}
.rectangle {
  width: 50px;
  height: 200px;
  background: white;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
}

.rectangle.active {
  background: #d2d1d2;
}

.a {
  z-index: 5;
}

.b {
  z-index: 0;
}

.c {
  z-index: 50;
}

.d {
  z-index: 40;
}

.e {
  z-index: 30;
}

.f {
  z-index: 20;
}

.g {
  z-index: 10;
}
